<!DOCTYPE html>
<html>

<head>
  <title>Alan's MoneyCashboard App</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <header>
    <h1>Alan's MoneyCashboard App</h1>
    <h2>Look after the pennies and the pounds will look after themselves</h2>
  </header>

  <hr/>

  <div>
    <ul>
    <li><a href="/transactions/new">Add a transaction</a></li>
      <li><a href="" target="_blank">Edit a transaction</a></li>
      <li><a href="" target="_blank">Delete a transaction</a></li>
    </ul>
  </div>

<%= yield %>


    <br/>

  <footer>
    <p>Contact: Alan White, 07971570832, alanwhitey@gmail.com</p>
  </footer>
</body>
</html>